<h1>Todas as Tasks</h1>

{{#each tasks}}

<li>
    <a href="/">{{this.title}}</a>
    <div>
        <a href="/">Completar</a>


        <a href="/tasks/edit/{{this.id}}">Editar</button></a>

        <form action="/tasks/remove" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Deletar</button>


        </form>

    </div>
</li>

{{/each}}